<div class="row">
    <div class="col-sm-3" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Control</div>
            <span class="input-group-addon">BMS State</span>
            <select class="form-control" ng-change="selectedState"  ng-model="BMS_EnterState" ng-options="s.name for s in states">
            </select>
            <button class="btn btn-primary btn-block" ng-click="changeState('BMS')">Update</button>
        </div>
    </div>
    <div class="col-sm-3" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">State</div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>Previous State</th>
                                <th>Current State</th>
                                <th>Next State</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>MCM</b></td>
                                <td ng-class="states[MCM.prev].level || 'info'">{{states[MCM.prev].name || 'N/a'}}</td>
                                <td ng-class="states[MCM.cur].level || 'info'"><b>{{states[MCM.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[MCM.next].level || 'info'">{{states[MCM.next].name || 'N/a'}}</td>
                            </tr>
                            <tr>
                                <td><b>VNM</b></td>
                                <td ng-class="states[VNM.prev].level || 'info'">{{states[VNM.prev].name || 'N/a'}}</td>
                                <td ng-class="states[VNM.cur].level || 'info'"><b>{{states[VNM.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[VNM.next].level || 'info'">{{states[VNM.next].name || 'N/a'}}</td>
                            </tr>
                            <tr>
                                <td><b>VSM</b></td>
                                <td ng-class="states[VSM.prev].level || 'info'">{{states[VSM.prev].name || 'N/a'}}</td>
                                <td ng-class="states[VSM.cur].level || 'info'"><b>{{states[VSM.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[VSM.next].level || 'info'">{{states[VSM.next].name || 'N/a'}}</td>
                            </tr>
                            <tr>
                                <td><b>BCM</b></td>
                                <td ng-class="states[BCM.prev].level || 'info'">{{states[BCM.prev].name || 'N/a'}}</td>
                                <td ng-class="states[BCM.cur].level || 'info'"><b>{{states[BCM.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[BCM.next].level || 'info'">{{states[BCM.next].name || 'N/a'}}</td>
                            </tr>
                            <tr>
                                <td><b>WCM</b></td>
                                <td ng-class="states[WCM.prev].level || 'info'">{{states[WCM.prev].name || 'N/a'}}</td>
                                <td ng-class="states[WCM.cur].level || 'info'"><b>{{states[WCM.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[WCM.next].level || 'info'">{{states[WCM.next].name || 'N/a'}}</td>
                            </tr>
                            <tr>
                                <td><b>BMS</b></td>
                                <td ng-class="states[BMS.prev].level || 'info'">{{states[BMS.prev].name || 'N/a'}}</td>
                                <td ng-class="states[BMS.cur].level || 'info'"><b>{{states[BMS.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[BMS.next].level || 'info'">{{states[BMS.next].name || 'N/a'}}</td>
                            </tr>
                            <tr>
                                <td><b>Overall status</b></td>
                                <td ng-class="{'success': system_status == 'GOOD','danger': system_status == 'FAILURE','info': system_status == 'STANDBY'} "><b>{{system_status || 'N/a'}}</b></td>
<!--                                 <td ng-class="states[WCM.cur].level || 'info'"><b>{{states[WCM.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[WCM.next].level || 'info'">{{states[WCM.next].name || 'N/a'}}</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    <div class="col-sm-6" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Battery</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Voltage V</th>
                            <th>Temperature C</th>
                            <th>Resistance mOhm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Low</b></td>
                            <td ng-class="BMS_low_cell_voltage.status_style">{{BMS_low_cell_voltage.val}}</td>
                            <td ng-class="BMS_low_temperature.status_style">{{BMS_low_temperature.val}}</td>
                            <td ng-class="BMS_low_internal_resistance.status_style"><b>{{BMS_low_internal_resistance.val}}</b></td>
                        </tr>
                        <tr>
                            <td><b>Low ID</b></td>
                            <td ng-class="'info'">{{BMS_low_cell_voltage_id.val}}</td>
                            <td ng-class="'info'"><b>{{BMS_low_thermistor.val}}</b></td>
                            <td ng-class="'info'">{{BMS_low_cell_resistance_id.val}}</td>
                        </tr>
                        <tr>
                            <td><b>High</b></td>
                            <td ng-class="BMS_high_cell_voltage.status_style || 'info'">{{BMS_high_cell_voltage.val}}</td>
                            <td ng-class="BMS_high_temperature.status_style || 'info'"><b>{{BMS_high_temperature.val}}</b></td>
                            <td ng-class="BMS_high_internal_resistance.status_style || 'info'">{{BMS_high_internal_resistance.val}}</td>
                        </tr>
                        <tr>
                            <td><b>High ID</b></td>
                            <td ng-class="'info'">{{BMS_high_cell_voltage_id.val}}</td>
                            <td ng-class="'info'"><b>{{BMS_high_thermistor.val}}</b></td>
                            <td ng-class="'info'">{{BMS_high_cell_resistance_id.val}}</td>
                        </tr>
                    </tbody>
                </table>
                <br></br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Relay Status</th>
                            <th ng-class="info">{{BMS_relay_status.val}}</th>
                        </tr>
                    </thead>
                </table>
        </div>
    </div> 
</div>
<!-- <div class="row">
    <div class="col-sm-12" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Temperatures</div>
            <nvd3 options="VSM_barchart_options" data="VSM_barchart_data" api="d3_api"></nvd3>
            <div class="panel panel-default">
            <table class="table table-bordered table-striped">
                    <tr>
                        <th>HV1</th>
                        <th>HV2</th>
                        <th>Motor 1</th>
                        <th>Motor 2</th>
                        <th>Motor 3</th>
                        <th>Motor 4</th>
                        <th>WCM1</th>
                        <th>WCM1</th>
                        <th>Cabin</th>
                        <th>12V1</th>
                        <th>12V2</th>
                    </tr>
                    <tr>
                        <td ng-class="VSM_T_HV1.status_style">{{VSM_T_HV1.val}}</td>
                        <td ng-class="VSM_T_HV2.status_style">{{VSM_T_HV2.val}}</td>
                        <td ng-class="VSM_T_motor1.status_style">{{VSM_T_motor1.val}}</td>
                        <td ng-class="VSM_T_motor2.status_style">{{VSM_T_motor2.val}}</td>
                        <td ng-class="VSM_T_motor3.status_style">{{VSM_T_motor3.val}}</td>
                        <td ng-class="VSM_T_motor4.status_style">{{VSM_T_motor4.val}}</td>
                        <td ng-class="VSM_T_WCM1.status_style">{{VSM_T_WCM1.val}}</td>
                        <td ng-class="VSM_T_WCM2.status_style">{{VSM_T_WCM2.val}}</td>
                        <td ng-class="VSM_T_cabin.status_style">{{VSM_T_cabin.val}}</td>
                        <td ng-class="VSM_T_12V1.status_style">{{VSM_T_12V1.val}}</td>
                        <td ng-class="VSM_T_12V2.status_style">{{VSM_T_12V2.val}}</td>
                    </tr>
            </table>
        </div>
        </div>
    </div>
</div> -->