<div class="row">
    <div class="col-sm-3" id="line-chart" >
        <div class="panel panel-default">

            <div class="panel-heading">Control</div>
            <span class="input-group-addon">MCM State</span>
            <select class="form-control"  ng-model="selectedState" ng-options="s.name for s in states">
            </select>
            <button class="btn btn-primary btn-block" ng-click="changeState('MCM')">Update</button>
<!--             <br></br> -->
            <span class="input-group-addon">Hb Wheel throttle  {{MCM_HB_throttle}}</span>
            <input type="range" ng-model="MCM_HB_throttle" min="0" max="100" />
            <button class="btn btn-primary btn-block" ng-click="update_hb_wheel()">Update</button>

        </div>
    </div>
    <div class="col-sm-3" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">State</div>
            <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>Previous State</th>
                                <th>Current State</th>
                                <th>Next State</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>MCM</b></td>
                                <td ng-class="states[MCM.prev].level || 'info'">{{states[MCM.prev].name || 'N/a'}}</td>
                                <td ng-class="states[MCM.cur].level || 'info'"><b>{{states[MCM.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[MCM.next].level || 'info'">{{states[MCM.next].name || 'N/a'}}</td>
                            </tr>
                            <tr>
                                <td><b>VNM</b></td>
                                <td ng-class="states[VNM.prev].level || 'info'">{{states[VNM.prev].name || 'N/a'}}</td>
                                <td ng-class="states[VNM.cur].level || 'info'"><b>{{states[VNM.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[VNM.next].level || 'info'">{{states[VNM.next].name || 'N/a'}}</td>
                            </tr>
                            <tr>
                                <td><b>VSM</b></td>
                                <td ng-class="states[VSM.prev].level || 'info'">{{states[VSM.prev].name || 'N/a'}}</td>
                                <td ng-class="states[VSM.cur].level || 'info'"><b>{{states[VSM.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[VSM.next].level || 'info'">{{states[VSM.next].name || 'N/a'}}</td>
                            </tr>
                            <tr>
                                <td><b>BCM</b></td>
                                <td ng-class="states[BCM.prev].level || 'info'">{{states[BCM.prev].name || 'N/a'}}</td>
                                <td ng-class="states[BCM.cur].level || 'info'"><b>{{states[BCM.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[BCM.next].level || 'info'">{{states[BCM.next].name || 'N/a'}}</td>
                            </tr>
                            <tr>
                                <td><b>WCM</b></td>
                                <td ng-class="states[WCM.prev].level || 'info'">{{states[WCM.prev].name || 'N/a'}}</td>
                                <td ng-class="states[WCM.cur].level || 'info'"><b>{{states[WCM.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[WCM.next].level || 'info'">{{states[WCM.next].name || 'N/a'}}</td>
                            </tr>
                            <tr>
                                <td><b>BMS</b></td>
                                <td ng-class="states[BMS.prev].level || 'info'">{{states[BMS.prev].name || 'N/a'}}</td>
                                <td ng-class="states[BMS.cur].level || 'info'"><b>{{states[BMS.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[BMS.next].level || 'info'">{{states[BMS.next].name || 'N/a'}}</td>
                            </tr>
                            <tr>
                                <td><b>Overall status</b></td>
                                <td ng-class="{'success': system_status == 'GOOD','danger': system_status == 'FAILURE','info': system_status == 'STANDBY'} "><b>{{system_status || 'N/a'}}</b></td>
<!--                                 <td ng-class="states[WCM.cur].level || 'info'"><b>{{states[WCM.cur].name || 'N/a'}}</b></td>
                                <td ng-class="states[WCM.next].level || 'info'">{{states[WCM.next].name || 'N/a'}}</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    <div class="col-md-3" >   
        
        <div class="panel panel-default">

            <div class="panel-heading">Wheel 1</div>
                <div justgage
                title-font-color="black"
                value="{{MCM_HB1_spd.val}}" value-font-color="black" min="0" max="7000"
                hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
                gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
                show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
                shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
                level-colors="{{level_colors}}" custom-sectors="{{hb_gauge_custom_sectors}}" no-gradient="{{noGradient}}"
                label="rpm" label-font-color="black"
                donut="true" donut-start-angle="{{donutStartAngle}}"
                counter="{{counter}}" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
                human-friendly="{{humanFriendly}}" human-friendly-decimal="{{humanFriendlyDecimal}}"
                text-renderer="textRenderer">
            </div>
             <table class="table table-bordered table-striped">
                    <tr>
                        <th>Temp</th>
                        <th>RPM</th>
                        <th>V</th>
                        <th>A</th>
                    </tr>
                    <tr>
                        <td ng-class="VSM_T_motor1.status_style">{{VSM_T_motor1.val}}</td>
                        <td ng-class="MCM_HB1_spd.status_style">{{MCM_HB1_spd.val}}</td>
                        <td ng-class="MCM_HB_cmdV.status_style">{{MCM_HB_cmdV.val}}</td>
                        <td ng-class="BMS_pack_current.status_style">{{BMS_pack_current.val}}</td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="col-md-3" >    
        <div class="panel panel-default">
            <div class="panel-heading">Wheel 2</div>
                <div justgage
                title-font-color="black"
                value="{{MCM_HB2_spd.val}}" value-font-color="black" min="0" max="7000"
                hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
                gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
                show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
                shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
                level-colors="{{level_colors}}" custom-sectors="{{hb_gauge_custom_sectors}}" no-gradient="{{noGradient}}"
                label="rpm" label-font-color="black"
                donut="true" donut-start-angle="{{donutStartAngle}}"
                counter="{{counter}}" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
                human-friendly="{{humanFriendly}}" human-friendly-decimal="{{humanFriendlyDecimal}}"
                text-renderer="textRenderer">
            </div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Temp</th> 
                        <th>RPM</th>
                        <th>V</th>
                        <th>A</th>
                    </tr>
                    <tr>
                        <td ng-class="VSM_T_motor2.status_style">{{VSM_T_motor2.val}}</td>
                        <td ng-class="MCM_HB2_spd.status_style">{{MCM_HB2_spd.val}}</td>
                        <td ng-class="MCM_HB_cmdV.status_style">{{MCM_HB_cmdV.val}}</td>
                        <td ng-class="BMS_pack_current.status_style">{{BMS_pack_current.val}}</td>
                    </tr>
            </table>
        </div>
    </div>   
</div>
<div class="row">
    <div class="col-sm-6" id="line-chart" >
        <div class="panel panel-default">
            <div class="panel-heading">RPM</div>
                <nvd3 options="MCM_linegraph_options" data="MCM_linegraph_data"></nvd3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Wheel 3</div>
               <div justgage
                title-font-color="black"
                value="{{MCM_HB3_spd.val}}" value-font-color="black" min="0" max="7000"
                hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
                gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
                show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
                shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
                level-colors="{{level_colors}}" custom-sectors="{{hb_gauge_custom_sectors}}" no-gradient="{{noGradient}}"
                label="rpm" label-font-color="black"
                donut="true" donut-start-angle="{{donutStartAngle}}"
                counter="{{counter}}" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
                human-friendly="{{humanFriendly}}" human-friendly-decimal="{{humanFriendlyDecimal}}"
                text-renderer="textRenderer">
            </div>
             <table class="table table-bordered table-striped">
                    <tr>
                        <th>Temp</th>
                        <th>RPM</th>
                        <th>V</th>
                        <th>A</th>
                    </tr>
                    <tr>
                        <td ng-class="VSM_T_motor2.status_style">{{VSM_T_motor3.val}}</td>
                        <td ng-class="MCM_HB2_spd.status_style">{{MCM_HB3_spd.val}}</td>
                        <td ng-class="MCM_HB_cmdV.status_style">{{MCM_HB_cmdV.val}}</td>
                        <td ng-class="BMS_pack_current.status_style">{{BMS_pack_current.val}}</td>
                    </tr>
            </table>
        </div> 
    </div>
    <div class="col-md-3" >
        <div class="panel panel-default">
            <div class="panel-heading">Wheel 4</div>
                <div justgage
                title-font-color="black"
                value="{{MCM_HB4_spd.val}}" value-font-color="black" min="0" max="7000"
                hide-min-max="{{hideMinMax}}" hide-value="{{hideValue}}" hide-inner-shadow="true"
                gauge-width-scale="{{gaugeWidthScale}}" gauge-color="{{white}}"
                show-inner-shadow="{{showInnerShadow}}" shadow-opacity="{{shadowOpacity}}"
                shadow-size="{{shadowSize}}" shadow-vertical-offset="{{shadowVerticalOffset}}"
                level-colors="{{level_colors}}" custom-sectors="{{hb_gauge_custom_sectors}}" no-gradient="{{noGradient}}"
                label="rpm" label-font-color="black"
                donut="true" donut-start-angle="{{donutStartAngle}}"
                counter="{{counter}}" decimals="{{decimals}}" symbol="{{symbol}}" format-number="{{formatNumber}}"
                human-friendly="{{humanFriendly}}" human-friendly-decimal="{{humanFriendlyDecimal}}"
                text-renderer="textRenderer">
            </div>
             <table class="table table-bordered table-striped">
                    <tr>
                        <th>Temp</th>
                        <th>RPM</th>
                        <th>V</th>
                        <th>A</th>
                    </tr>
                    <tr>
                        <td ng-class="VSM_T_motor2.status_style">{{VSM_T_motor4.val}}</td>
                        <td ng-class="MCM_HB2_spd.status_style">{{MCM_HB4_spd.val}}</td>
                        <td ng-class="MCM_HB_cmdV.status_style">{{MCM_HB_cmdV.val}}</td>
                        <td ng-class="BMS_pack_current.status_style">{{BMS_pack_current.val}}</td>
                    </tr>
            </table>
        </div> 
    </div>     
</div>
<div class="row">

</div>